/6G6Z0019 Unit Specification.pdf
/6Z0019_assignment_CreativePiece_2025_v1.pdf
/6Z0019_assignment_Report_2025_v1.pdf
/6Z0019_Handbook_2025_v1.pdf
/AcademicWriting_sn.pdf
/Dissertation kms.docx
/RM - Slide Deck.pptx
/SED Thesis Skeleton.pdf
/SE_Student1_Presentation.pdf
/SE_Student1_Report.pdf
/Synoptic Project Report Template (Draft).docx
/Week 1
/Week 2
/Week 3
/Week 4
/Week 5